/* style.css */

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.centered-div img {
    height: auto;
    margin-bottom: 20px;
}

.centered-div p {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.contact-button {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #0056b3;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

.logo-image {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.centered-div .logo-image {
    width: 50px; /* set a fixed width */
    /* set a fixed height */
    vertical-align: middle;
}

.logo-text {
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
    .centered-div  img{
        width: 70%;
    }

    .centered-div p {
        font-size: 18px;
    }
    .contact-button {
        font-size: 16px;
        padding: 8px 16px;
    }
    .logo-text {
        font-size: 18px;
    }
}

@media only screen and (max-width: 480px) {
    .centered-div  img {
        width: 90%;
    }

    .centered-div p {
        font-size: 14px;
    }
    .contact-button {
        font-size: 14px;
        padding: 6px 12px;
    }
    .logo-text {
        font-size: 14px;
    }
}